/* Border box reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 1rem;
  line-height: 1.6;
}
body {
  font-family: "Poppins", sans-serif;
}
header,
section {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 0 1.5rem 0;
}
a {
  text-decoration: none;
  color: #13a7fb;
}
/* site-header */
.site-header {
  color: white;
  text-align: center;
  background: linear-gradient(to bottom right, #292c33, #393d47);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(80vh - 60px);
}
.site-header h1 {
  font-size: 3em;
}
.site-header p {
  font-size: 1.1rem;
  margin: 2.5rem 0;
  padding: 20px;
}
.primary {
  color: #57eea1;
}
.underline a {
  display: inline-block;
}
.underline > a:hover {
  text-decoration: underline;
}
a.button {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 1.75rem;
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block;
  margin: 10px;
}
a.button:hover {
  color: white;
  border: 1px solid white;
}
