* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
}
nav {
  background-color: rgba(9, 15, 29, 0.4);
  text-align: right;
  padding: 10px;
}
ul {
  margin: 0;
}
li {
  list-style: none;
  display: inline;
  padding: 5px;
  color: white;
  font-size: 1.2em;
}
a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #ccc;
}
/* a.active {
  background-color: black;
  padding: 5px 10px 20px;
} */

/* Background image */
body.background {
  background-image: url("https://wallpapercave.com/wp/wp2222396.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: rgba(9, 15, 29, 0.3);
}
/* .typewriter {
  display: flex;
  justify-content: center;
} */
.bg-text p {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
