* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
}
nav {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  padding: 10px;
}
ul {
  margin: 0;
}
li {
  list-style: none;
  display: inline;
  padding: 5px;
  color: white;
}
a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #ccc;
}

/* selected link */
a:active {
  color: #ccc;
}

/* Background image */
body .background {
  background-image: url("http://www.barraques.cat/pngfile/big/145-1452218_minimal-cloud-4k-hd-desktop-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
