h1 {
  font-size: 3rem;
  text-align: center;
}
h2,
h3,
h5 {
  text-align: center;
}
h1,
h3,
h5 {
  line-height: 10px;
}
p {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1,
  h3,
  h5 {
    line-height: 20px;
  }
}
