/* 

    font-family: 'Montserrat', sans-serif;

    font-family: 'Montserrat Subrayada', sans-serif;

 */

body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 700;
}
h2 {
  font-weight: 600;
}
