body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

input#txtTitle,
textarea#txtContent {
  width: 50%;

}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

th,
strong {
  font-size: 1.3em;
}

td,
.chkBox {
  font-size: 1.1em;
}